
  <ion-header>
  <ion-toolbar>
      <ion-toolbar color="primary">
          <ion-searchbar [(ngModel)]="autocomplete.input"
          (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
          <ion-list [hidden]="autocompleteItems.length == 0">
             <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
               {{ item.description }}
             </ion-item>
           </ion-list>
           </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="navigationStarted">
    <ion-item>Destination: {{this.autocomplete.input}}</ion-item>
    <ion-item>Approximate distance: {{this.distance}} km.</ion-item>
    <ion-button *ngIf="audioStarted" shape="round" (click)="stopAudio()" color="primary">
      Stop Alarm
    </ion-button>
</ion-content>

